node_modules
.*
!/.gitignore
coverage
coverage.json
typechain
**/__pycache__/
# Hardhat files
artifacts
cache
mas/packages/valory/
mas/packages/open_aea/
mas/packages/fetchai/

**/**_private_key.txt

